/* Estilos generales */
body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #f0f0f0;
}

body p{
  font-size: 18px;
}

body li{
  font-size: 18px;
}

/* Estilos para el navbar */
.navbar {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.navbar-left ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.navbar-left li {
  margin-right: 20px;
}

/* Estilos para los enlaces en el navbar */
.navbar-left a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 23px;
  transition: color 0.3s ease;
}

.navbar-left a:hover {
  color: #49FF20;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.navbar-right li {
  margin-right: 20px;
}

/* Estilos para los enlaces en el navbar */
.navbar-right a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 23px;
  transition: color 0.3s ease;
}

/* Estilos para hover (cambio de color al pasar el mouse) */
.navbar-right a:hover {
  color: #49FF20;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../font/Orbitron-VariableFont_wght.ttf') format('truetype');
}

.container {
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

/* Estilos para la imagen en el lado izquierdo */
.left-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}

.left-image {
  flex: 60%; /* El 60% del ancho del container */
  height: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  flex: 40%; /* El 40% del ancho del container */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  height: 100%;
}

/* Estilos para el texto alineado a la izquierda */
.left-aligned-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  height: 100%;
}

/* Estilos para el título "Programación" */
.left-aligned-text h2 {
  font-size: 5vw;
  color: #49FF20;
  margin-top: 0vw;
}

.code-len-maq {
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 450px;
  height: 200px;
  box-sizing: border-box;
  text-align: left;
}
.code-len-maq pre{
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
}

.code-card code{
  font-size: 16px;
}

.section {
  background-color: #232323;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 100%;
  counter-reset: programming-counter;
}

.section h2{
  color: salmon;
  font-size: 25px;
}

.section h3{
  color: yellowgreen;
  font-size: 21px;
}

.subrayado{
  text-decoration: underline 3px rgb(2, 6, 204);
  
}

.prog2 img{
  width: 60%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.top-tier ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  list-style: none;
}

.top-tier li {
  counter-increment: programming-counter;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.top-tier li:nth-child(1)::before {
  content: counter(programming-counter) ".";
  font-weight: bold;
  margin-right: 10px;
  color: gold; /* Color para el número 1 */
}

.top-tier li:nth-child(2)::before {
  content: counter(programming-counter) ".";
  font-weight: bold;
  margin-right: 10px;
  color: silver; /* Color para el número 2 */
}

.top-tier li:nth-child(3)::before {
  content: counter(programming-counter) ".";
  font-weight: bold;
  margin-right: 10px;
  color: #cd7f32; /* Color para el número 3 */
}

.top-tier li:nth-child(n + 4)::before {
  content: counter(programming-counter) ".";
  font-weight: bold;
  margin-right: 10px;
  color: #5c85ff; /* Color para los números 4 y siguientes */
}


.programmer-salaries {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programmer-salaries li {
  margin-bottom: 10px;
}

.salary-type {
  font-weight: bold;
  color: darkkhaki;
}

.salary-amount {
  margin-left: 10px;
}


/* Estilos para la sección "La Demanda de Programadores en Argentina" *//* Estilos para la sección "La Demanda de Programadores en Argentina" */

.section-title {
  font-size: 24px;
  color: #49FF20;
  margin-bottom: 10px;
}

.section-text {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.custom-list {
  list-style: none;
  padding: 4px;
  margin: 0;
  margin-left: 20px;
}

.custom-list li {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 10px;
  position: relative;
}

.custom-list li::before {
  content: "\2022";
  color: #49FF20;
  font-size: 18px;
  position: absolute;
  left: -20px;
}

/* Estilos para el bloque de código dentro de la sección */
.code-block {
  background-color: #181818;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Courier New', monospace;
  color: #f0f0f0;
  margin: 20px 0;
}

/* Estilos para los párrafos y enlaces dentro del bloque de código */
.code-block p, .code-block a {
  font-size: 16px;
  color: #f0f0f0;
}

/* Estilos para los enlaces dentro del bloque de código */
.code-block a {
  text-decoration: underline;
  color: #49FF20;
}

/* Estilos para los títulos de bloques de código */
.code-block h2 {
  font-size: 20px;
  color: #49FF20;
  margin-bottom: 10px;
}


.section-title {
  font-size: 24px;
  color: #49FF20;
  margin-bottom: 10px;
}

.section-text {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.custom-list li {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 15px;
  position: relative;
}

.custom-list li::before {
  content: "\2022";
  color: #49FF20;
  font-size: 18px;
  position: absolute;
  left: -20px;
}

.custom-list1 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.custom-list1 li {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 15px;
  position: relative;
}

/* Estilos para el bloque de código dentro de la sección */
.code-block {
  background-color: #181818;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Courier New', monospace;
  color: #f0f0f0;
  margin: 20px 0;
}

/* Estilos para los párrafos y enlaces dentro del bloque de código */
.code-block p, .code-block a {
  font-size: 16px;
  color: #f0f0f0;
}

/* Estilos para los enlaces dentro del bloque de código */
.code-block a {
  text-decoration: underline;
  color: #49FF20;
}

/* Estilos para los títulos de bloques de código */
.code-block h2 {
  font-size: 20px;
  color: #49FF20;
  margin-bottom: 10px;
}

.section strong {
  color: darkkhaki;
}




.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px auto;
  max-width: 800px;
  width: 100%;
}

/* Estilos para las tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container h2{
  color: salmon;
}


.code-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.code-card pre {
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
}

.code-card code {
  font-size: 16px;
}

.code-card p {
  font-size: 18px;
}

/* Agrega estos estilos al CSS */
.slideshow-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-card {
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  text-align: left;
}

@keyframes fade {
  0%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.card-container {
  text-align: center;
}

.card-title {
  font-size: 24px;
  color: #49FF20;
}

.card-carousel {
  display: flex;
  overflow: hidden;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #262626;
  color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.prev {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia la dirección a vertical en pantallas pequeñas */
  }

  .left-image {
    flex: 100%; /* Toma el ancho completo en pantallas pequeñas */
    border-bottom-right-radius: 20px; /* Añade bordes redondeados en la parte inferior */
  }

  .content {
    flex: 100%; /* Toma el ancho completo en pantallas pequeñas */
  }
}

.prog2gif img{
  width: 40%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.prog2gif {
  position: relative;
  display: flex;
}

.meme img{
  width: 30%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}