body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #f0f0f0;
}
  
body p{
    font-size: 18px;
}

body li{
    font-size: 18px;
}

/* Estilos para el navbar */
.navbar {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.navbar-left ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    }

.navbar-left li {
    margin-right: 20px;
}

/* Estilos para los enlaces en el navbar */
.navbar-left a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 23px;
    transition: color 0.3s ease;
}

.navbar-left a:hover {
    color: #49FF20;
}

.navbar-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
}

.navbar-right li {
    margin-right: 20px;
}

/* Estilos para los enlaces en el navbar */
.navbar-right a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 23px;
    transition: color 0.3s ease;
}

/* Estilos para hover (cambio de color al pasar el mouse) */
.navbar-right a:hover {
    color: #49FF20;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron-VariableFont_wght.ttf') format('truetype');
    }

.container {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

/* Estilos para la imagen en el lado izquierdo */
.left-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    }

.left-image {
    flex: 60%; /* El 60% del ancho del container */
    height: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.content {
    flex: 40%; /* El 40% del ancho del container */
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    height: 100%;
}

/* Estilos para el texto alineado a la izquierda */
.left-aligned-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex: 1;
    height: 100%;
}

/* Estilos para el título "Programación" */
.left-aligned-text h2 {
    font-size: 5vw;
    color: #49FF20;
    margin-top: 0vw;
}

.section {
    background-color: #232323;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 100%;
    counter-reset: programming-counter;
}

.section h2{
    color: salmon;
    font-size: 25px;
    }

.section h3{
    color: yellowgreen;
    font-size: 21px;
}

.section-title {
    font-size: 24px;
    color: #49FF20;
    margin-bottom: 10px;
}

.section-text {
    color: #f0f0f0;
    margin-bottom: 10px;
}

.custom-list {
    list-style: none;
    padding: 4px;
    margin: 0;
    margin-left: 20px;
}

.custom-list li {
    color: #f0f0f0;
    margin-bottom: 15px;
    position: relative;
}

.custom-list li::before {
    content: "\2022";
    color: #49FF20;
    font-size: 18px;
    position: absolute;
    left: -20px;
    }

.section strong {
color: darkkhaki;
}

.meme img{
    width: 30%;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.custom-list1 {
    list-style: none;
    padding: 4px;
    margin: 0;
    margin-left: 20px;
}

.custom-list1 li {
    color: #f0f0f0;
    margin-bottom: 15px;
    position: relative;
}

.vid2 img{
    width: 60%;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.vid3 img{
    width: 80%;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.asd ul{
    list-style-type: none;
}

.asd li{
    padding: 5px;
}

.asd strong{
    color: yellowgreen;
}
.videojuegos-type {
    font-size: 22px;
}

.videojuegos-type1 {
    color: darkkhaki;
}