/* Estilos generales */
body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #f0f0f0;
}

body p{
  font-size: 18px;
}

/* Estilos para el navbar */
.navbar {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%; /* Reducido el margen inferior para pantallas más pequeñas */
}


.navbar-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.navbar-right li {
  margin-right: 20px;
}

/* Estilos para los enlaces en el navbar */
.navbar-right a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 23px;
  transition: color 0.3s ease;
}

/* Estilos para hover (cambio de color al pasar el mouse) */
.navbar-right a:hover {
  color: #49FF20;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../font/Orbitron-VariableFont_wght.ttf') format('truetype');
}

.container {
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal */
  overflow: hidden;
  height: 100%;
}

/* Estilos para la imagen en el lado izquierdo */
.left-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}

.left-image {
  flex: 60%; /* El 60% del ancho del container */
  height: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  flex: 40%; /* El 40% del ancho del container */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  height: 100%;
}

/* Estilos para el texto alineado a la izquierda */
.left-aligned-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  height: 100%;
}

/* Estilos para el título "Lenguajes", "De", y "Programación" */
.left-aligned-text h2 {
  font-size: 5vw;
  color: #49FF20;
  margin-top: 0vw;
}

/* Estilos para el nuevo div "topics-container" */
.topics-container {
  text-align: center;
  margin-top: 2%; /* Ajustado el margen superior para pantallas más pequeñas */
}

/* Estilos para el título "Temas a tratar" */
.topics-container h2 {
  font-size: 24px; /* Tamaño de fuente fijo para pantallas más pequeñas */
  margin-bottom: 2%; /* Ajustado el margen inferior para pantallas más pequeñas */
  color: #49FF20;
}
.topics-container h1 {
  color: salmon;
}

/* Estilos para el contenedor de los rectángulos de temas */
.topics {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center;
  align-items: center;
}

/* Estilos para los rectángulos de temas */
.topic {
  background-color: #262626;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  width: 250px;
  height: 350px;
}

.topic-link {
  text-decoration: none; /* Para eliminar la subrayado de los enlaces */
  color: #f0f0f0; /* Cambia el color del texto dentro del enlace */
}

/* Establece un margen derecho para los rectángulos para separarlos */
.topic + .topic {
  margin-left: 20px;
}

.topic:hover {
  transform: scale(1.1);
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia la dirección a vertical en pantallas pequeñas */
  }

  .left-image {
    flex: 100%; /* Toma el ancho completo en pantallas pequeñas */
    border-bottom-right-radius: 20px; /* Añade bordes redondeados en la parte inferior */
  }

  .content {
    flex: 100%; /* Toma el ancho completo en pantallas pequeñas */
  }
}
